version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: double-nickel-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: happy_hauler
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./misc/output_schema.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ./misc/mock_data.sql:/docker-entrypoint-initdb.d/02-mock-data.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
